@import 'variables';

#about-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 $page_margin;

    #ethos {
        display: grid;
        grid-template-areas: "ethos";
        width: 100%;
        box-sizing: border-box;

        p {
            position: relative;
            grid-area: ethos;
            font-size: 20px;
            font-family: $primary-font;
            width: 85%;
            max-width: 900px;
            align-self: center;
            justify-self: center;
            color: $dark;
            z-index: 2;

            &::before {
                content: 'ETHOS';
                position: absolute;
                font-family: $primary-font;
                left: -40px;
                top: -16px;
                font-weight: 600;
                font-size: 10px;
                letter-spacing: 0.05em;
            }
        }

        img {
            grid-area: ethos;
            z-index: 1;
            opacity: 25%;
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }
    }

    #people {

        h1 {
            font-family: $primary-font;
            width: 100%;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            padding: 30px 0;

        }

        h2 {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
        }

        ul {
            display: flex;
            column-gap: 5%;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 15%;
                max-width: 200px;
                min-width: 100px;

                img {
                    width: 100%;
                    border-radius: 2000px;
                }

                h3 {
                    font-size: $paragraph;
                    line-height: 100%;
                    margin-top: 10px;
                    text-align: center;
                    white-space: nowrap;
                }

                h4 {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 0.06em;
                    line-height: 12px;
                    text-align: center;
                }
            }
        }
    }
}

.grant-statement {
    text-align: center;
    padding: 20px;
}
