@import 'variables';

footer {
    display: grid;
    column-gap: $page_margin;
    padding: 0 $page_margin 0.75% $page_margin;
    text-align: center;

    h1 {
        font-family: $primary-font;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 13px;
        letter-spacing: 0.06em;
    }

    h2 {
        font-family: $primary-font;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.06em;
    }

    ul {
        list-style-type: none;
        margin-top: 0;

        h2 {
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
        }

        li {
            font-size: 10px;
            line-height: 150%;
        }
    }

    p {
        grid-area: copy;
    }

    .footer-projects {
      grid-area: projects;
      display: grid;
      grid-template-areas: "title" "list";
      grid-template-rows: auto 1fr;
    }

    .footer-support {
      grid-area: support;
      display: grid;
      grid-column-gap: 10px;
      width: 190px;
      grid-template-areas: "logo text";
      grid-template-rows: auto 1fr;
    }

    .footer-support-logo {
      grid-area: logo;

      img {
        width: 75px;
        border: none;
      }
    }

    .footer-support-text {
      grid-area: text;
      font-size: smaller;
      margin-top: 0px;
      margin-bottom: 5px;
      width: 250px;
    }

    .footer-collabs {
      grid-area: collabs;
      display: grid;
      grid-template-areas: "title" "list";
      grid-template-rows: auto 1fr;
    }

    .footer-logos {
      grid-area: logo;

      img {
        width: 75px;
        border: none;
      }

      p {
        grid-area: text;
        font-size: smaller;
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }

    .footer-thrusts {
      display: grid;
      grid-column-gap: 20px;
      grid-template-areas: "thrust-title1 thrust-title2 thrust-title3 thrust-title4"
                           "thrust-content1 thrust-content2 thrust-content3 thrust-content4";
    }

    .footer-thrust {
      grid-area: thrust;
    }

    .footer-section-title {
      color: $dark;
      font-size: larger;
      border-bottom: solid $dark 1px;
    }

    .thrust-title {
      color: $dark;
      font-size: larger;
      margin-bottom: 5px;

      h2 {
        margin-block: 2px;
      }
    }

    .footer-content {
      color: $dark;
    }

    .footer-section-content {
      color: $dark;
    }

    .footer-section {
        column-gap: 15px;

        h1 {
            grid-area: title;
        }

        .footer-list {
            h2 {
                font-size: 13px;
                margin-bottom: 6px;
            }
        }
    }

    .thrusts {
        grid-area: thrusts;
        grid-template-areas: "thrust thrust thrust";
    }

    .apps {
        grid-area: apps;
        grid-template-areas: "title title" ". .";
    }

    .projects {
        grid-area: projects;
        grid-template-areas: "title" ".";
    }
}

@include desktop {
    footer {
        grid-template-areas:  "title1 title2 title3 title4"
                              "content1 content2 content3 content4";
        grid-template-columns: 4fr 1fr 1fr 1fr;
        row-gap: 5px;
        text-align: center;
    }
}

@include laptop {
    footer {
      grid-template-areas:  "title1 title2 title3 title4"
                            "content1 content2 content3 content4";
      grid-template-columns: auto auto auto auto;
      row-gap: 5px;
      text-align: center;
    }
}

@include tablet {
    footer {
      display: grid;
      grid-template-areas:  "title1 title2 title3 title4"
                            "content1 content2 content3 content4";
      grid-template-columns: auto auto auto auto;
      row-gap: 5px;
      text-align: center;
    }
}

@include mobile {
    footer {
        grid-template-areas: "thrusts"
        "apps"
        "projects";
        grid-template-columns: 1fr;
        padding: $page_margin;
        row-gap: 5px;
        text-align: center;

        .thrusts {
            grid-template-columns: 1fr;
            grid-template-areas: "title" "." "." "." "." ".";
        }

        .apps {
            grid-template-columns: 1fr;
            grid-template-areas: "title" "." ".";
        }
    }
}
