@import 'variables';

#homepage-container {
    display: grid;
    padding: 0 $page_margin;
    grid-template-areas: "hero hero"
    "about about"
    "thrust1 thrust2"
    "pubs pubs";
    width: 100%;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    column-gap: 20px;

    #hero-thrust {
        grid-area: hero;
        a {
            display: grid;
            grid-template-areas: 
            "hero hero"
            "title desc";
            grid-template-columns: 1fr 1fr;
            width: 100%;

            img {
                grid-area: hero;
                width: 100%;
                object-fit: cover;
            }
            
            .thrust-title {
                grid-area: title;
    
                p {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 0.06em;
                    margin-bottom: 0;
                }
        
                h1 {
                    margin-top: 5px;
                    font-weight: 400;
                }
            }
    
            .desc {
                grid-area: desc;
            }
        }
    }

    #about-lab {
        display: grid;
        grid-area: about;
        grid-template-areas: "ethos";
        width: 100%;
        box-sizing: border-box;
        padding: 80px 0;

        p {
            position: relative;
            grid-area: ethos;
            font-size: 20px;
            font-family: $primary-font;
            width: 85%;
            max-width: 900px;
            align-self: center;
            justify-self: center;
            color: $dark;

            &::before {
                content: 'WHO WE ARE';
                position: absolute;
                font-family: $primary-font;
                left: -40px;
                top: -16px;
                font-weight: 600;
                font-size: 10px;
                letter-spacing: 0.05em;
            }
        }

        img {
            grid-area: ethos;
            z-index: 1;
            opacity: 25%;
            width: 100%;
            object-fit: cover;
        }
    }

    .research-thrust {
        grid-area: thrust1;
        width: 100%;
         
        img {
            width: 100%;
            object-fit: cover;
        }

        &:nth-of-type(2n) {
            grid-area: thrust2;
        }

        p {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            margin-bottom: 0;
        }

        h2 {
            margin-top: 5px;
            font-weight: 400;
        }
    }

    #featured-pubs {
        grid-area: pubs;
        display: grid;
        align-content: center;
        padding-bottom: 40px;

        h1 {
            text-align: center;
            border-top: 1px solid $dark;
            font-family: $primary-font;
            width: 100%;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            padding: 30px 0;
        }

        .publication {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: "img desc";
            column-gap: 40px;
            margin-bottom: 24px;
            margin-left: $publication-margin;
    
            img {
                grid-area: img;
                justify-self: end;
            }
    
            .desc {
                grid-area: desc;
    
                h3 {
                    font-size: 16px;
        
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
        
                p {
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
                
                ul {
                    padding: 0;
                    li {
                        display: inline-block;
                        list-style: none;
        
                        &:nth-of-type(2n) {
                            margin-left: 28px;
                        }
        
                        a {
                            font-size: 12px;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}