@import 'variables';

homepage-page {
  top: $navbar-ht;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;
  overflow: auto;
  display: grid;
  grid-template-areas: "content";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  homepage-content
  {
    grid-area: content;
  }

  #hero-thrust {
    a {
      display: grid;
      grid-template-areas:
      "hero hero"
      "title desc";
      grid-template-columns: 1fr 1fr;
      width: 100%;

      img {
          grid-area: hero;
          width: 100%;
          object-fit: cover;
      }
      h1 {
          font-size: 20px;
          text-transform: uppercase;
          margin-top: 5px;
          font-weight: 200;
      }

      .thrust-title {
          grid-area: title;

          p {
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 0.06em;
              margin-bottom: 0;
          }

          h1 {
              font-size: 20px;
              text-transform: uppercase;
              margin-top: 5px;
              font-weight: 200;
          }

      }
    }
  }

  #about-lab {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    box-sizing: border-box;

    p {
        position: relative;
        font-family: $primary-font;
        color: $dark;
        font-size: 15px;
    }
    h2 {
      font-size: 15px;
      text-transform: uppercase;
      grid-area: auto;
      margin-top: 35px;
      font-weight: 200;
    }
  }

  .research-thrusts {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
  }
  h3 {
    grid-area: auto;
    margin-top: 35px;
    font-weight: 100;
  }

  .research-thrust {
      width: 100%;
      display: grid;
      grid-template-columns: 30% 70%;
      padding-bottom: 40px;

      img {
        grid-area: auto;
        width: 100%;
        object-fit: cover;
      }


  }
}
