@import 'variables';

navigation-bar
{
  top: 0;
  width: 100%;
  height: $navbar-ht;
  position: absolute;
}

.titlebar {
    padding-top: 10px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    background-color: $light;
    z-index: 999;
}

.titlebar-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.titlebar-title {
    font-size: 25px;
    justify-self: left;
}

.titlebar-button {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    font-size: 15px;
}
