@use 'publications';
@use 'navigation';
@use 'thrusts';
@use 'about';
@use 'list';
@use 'homepage';
@import 'variables';

//GLOBAL STYLES

:root {
    font-family: $primary-font;
    background-color: $light;
    font-size: 16px;
}

@include tablet {
    :root {
        font-size: 14px;
    }
}

body {
    margin-top: 10px;
}

p {
  color: $dark;
}

a {
    color: $dark;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    color: $dark;
}

h1 {
  color: $dark;
  font-size: 4em;
}

h2 {
  color: $dark;
}

h3 {
  color: $dark;
}

hr {
  border: 1px solid $dark;
  margin-left: 1%;
  margin-right: 1%;
}

#hero-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
