
@import 'variables';

thrust-nav {
  top: 0;
  width: 100%;
  height: 70px;
  position: absolute;
}

thrust-page {
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;
  overflow: auto;
  display: grid;
  grid-template-areas: "sidebar content" "footer footer";
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 1fr;
}

thrust-footer {
  grid-area: footer;
  padding: 2px;
  font-size: 12px;
  padding: $page_margin;
  width: 100%;
  box-sizing: border-box;
  column-gap: 10px;

}

thrust-sidebar {
  grid-area: sidebar;

  div {
    position: sticky;
    top: 0;
  }

  h1 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  h2 {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 2rem;
    line-height: 32px;
    margin-top: -5px;
  }

  ul {
      padding-left: 20px;
      margin-top: 28px;

      li {
          list-style: none;
          margin: 8px 0;
          font-size: 16px;

          a {
              text-decoration: none;
              line-height: 150%;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
    }
  }

thrust-content {
  grid-area: content;

  img {
      width: 100%;
  }

  p a {
      position: relative;
      font-weight: 600;
      padding-right: 10px;
      white-space: nowrap;

      &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 2px;
          width: 0.5em;
          height: 0.5em;
          background-image: url('../images/icons/url_arrow.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
      }
  }

  h3 {
      padding-top: 50px;
      font-family: $primary-font;
      letter-spacing: 0.05rem;
      line-height: 0px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
  }

  p {
      font-family: $primary-font;
      font-size: $paragraph;
      line-height: 150%;
      font-weight: 400;
      margin: 20px 0;

      &.big-paragraph {
          font-size: $big-paragraph;
      }
  }

  .single-image, .dual-images {
      padding-top: 30px;

      h5 {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 10px;
          line-height: 15px;
          margin-top: 0;
          font-weight: 400;
      }
  }

  .dual-images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $dual-image-gap;

      img {
          object-fit: cover;
          width: 100%;
      }
  }
}
