<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        {% include "njk/header.html" %}


        <!-- Container to create the sidebar and main page content. -->
        <div id="about-container">
            <div id="ethos">
                <p>
                    The Sculpting Visualization Collaborative is a multidisciplinary, cross-institutional team creating
                    tools that bring artists, designers, and others outside of the sciences directly into the visualization process.
                    Generating new methodologies through integration of the arts and the sciences, the Collaborative creates a richer,
                    expanded vocabulary for visualization that improves domain science research, team collaboration, and public-facing
                    communication about important issues in climate, computing, neurology, archeology, biology, and more. Current research
                    directions include:<br><br>
                    
                    — Visualization software architectures for arts, humanities, and STEM integration<br>
                    — AR, VR, Data Physicalization, and Touch-Based Data Querying<br>
                    — Immersive and interactive visualization exhibitions in alternative venues<br>
                    — Humanities-based evaluation methods<br>
                    — Team science and knowledge building using physical and/or interactive visualization
                </p>
            </div>
            <div id="people">
                <h1>People</h1>
                <h2>Leadership</h2>
                <ul>
                    <li>
                        <img src="../images/people/DanKeefe.png">
                        <h3>Dan Keefe</h3>
                        <h4>Interactive Visualization Lab</h4>
                        <h4>University of Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/FrancescaSamsel.jpg">
                        <h3>Francesca Samsel</h3>
                        <h4>University of Texas at Austin</h4>
                        <h4>Texas Advanced Computing Center</h4>

                    </li>
                </ul>
                <h2>Staff</h2>
                <ul>
                    <li>
                        <img src="../images/people/GregAbram.jpg">
                        <h3>Greg Abram</h3>
                        <h4>University of Texas at Austin</h4>
                        <h4>Texas Advanced Computing Center</h4>
                    </li>

                    <li>
                        <img src="../images/people/CullenJackson.png">
                        <h3>Cullen Jackson</h3>
                        <h4>Harvard University</h4>
                    </li>

                </ul>
                <h2>Students</h2>
                <ul>
                    <li>
                        <img src="../images/people/BridgerHerman.jpeg">
                        <h3>Bridger Herman</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/StephanieZeller.jpeg">
                        <h3>Stephanie Zeller</h3>
                        <h4>University of Texas at Austin</h4>
                        <h4>Texas Advanced Computing Center</h4>
                    </li>
                    <li>
                        <img src="../images/people/KietTran.jpeg">
                        <h3>Kiet Tran</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/MorganTurner.png">
                        <h3>Morgan Turner</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/ClaireFitch.png">
                        <h3>Claire Fitch</h3>
                        <h4>U. Texas at Austin</h4>
                    </li>
                </ul>
                <h2>Domain Science Collaborators</h2>
                <ul>
                  <li>
                    <img src="../images/people/MarkPetersen.png">
                    <h3>Mark Petersen</h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                  <li>
                    <img src="../images/people/PhillipWolfram.jpg">
                    <h3>Phillip Wolfram</h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                </ul>
                <h2>Past Students</h2>
                <ul>
                    <li>
                        <img src="../images/people/SethJohnson.png">
                        <h3>Seth Johnson</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/DavidKinney.png">
                        <h3>David Kinney</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                </ul>

            </div>

            <h2 class="grant-statement">
                Sculpting Visualizations is supported by the National Science Foundation under awards IIS 1704604 and IIS 1704904.
            </h2>


            {% include "njk/footer.html" %}

        <script src="" async defer></script>
    </body>
</html>
