<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        {% include "njk/header.html" %}


        <!-- Container to create the sidebar and main page content. -->
        <div id="about-container">
            <div id="ethos">
                <p>Sculpting Visualization is a research project that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team.</p>
                <img src="../images/hero.jpg">
            </div>
            <div id="people">
                <h1>People</h1>
                <h2>Leadership</h2>
                <ul>
                    <li>
                        <img src="../images/people/DanKeefe.png">
                        <h3>Dan Keefe</h3>
                        <h4>The Boss</h4>
                    </li>
                    <li>
                        <img src="../images/people/FrancescaSamsel.jpg">
                        <h3>Francesca Samsel</h3>
                        <h4>Also the Boss</h4>
                    </li>
                </ul>
                <h2>Staff</h2>
                <ul>
                    <li>
                        <img src="../images/people/GregAbram.jpg">
                        <h3>Greg Abram</h3>
                        <h4>Not the Boss</h4>
                    </li>
                    <li>
                        <img src="../images/people/StephanieZeller.jpeg">
                        <h3>Stephanie Zeller</h3>
                        <h4>Also Not the Boss</h4>
                    </li>
                    <li>
                        <img src="../images/people/CullenJackson.png">
                        <h3>Cullen Jackson</h3>
                        <h4>Also Not the Boss</h4>
                    </li>
                    <li>
                        <img src="../images/people/MorganTurner.png">
                        <h3>Morgan Turner</h3>
                        <h4>Also Not the Boss</h4>
                    </li>
                </ul>
                <h2>Students</h2>
                <ul>
                    <li>
                        <img src="../images/people/BridgerHerman.jpeg">
                        <h3>Bridger Herman</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/KietTran.jpeg">
                        <h3>Kiet Tran</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/ClaireFitch.png">
                        <h3>Claire Fitch/h3>
                        <h4>U. Texas at Austin</h4>
                    </li>
                </ul>
                <h2>Domain Science Collaborators</h2>
                <ul>
                  <li>
                    <img src="../images/people/MarkPetersen.png">
                    <h3>Mark Petersen</h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                  <li>
                    <img src="../images/people/profile.jpg">
                    <h3>Phillip Wolfram></h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                </ul>
                <h2>Past Students</h2>
                <ul>
                    <li>
                        <img src="../images/people/SethJohnson.png">
                        <h3>Seth Johnson</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                    <li>
                        <img src="../images/people/DavidKinney.png">
                        <h3>David Kinney</h3>
                        <h4>U. Minnesota</h4>
                    </li>
                </ul>

            </div>

            <h1 class="grant-statement">Sculpting Visualizations is supported by X-Organization Grant.</h1>


              {% include "njk/footer.html" %}

        <script src="" async defer></script>
    </body>
</html>
