<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/code.js"></script>
    </head>
    <body>
      <navigation-bar>
        {% include "njk/header.html" %}
      </navigation-bar>

      <svis-page>
        <div id="about-container">
          <div class="first-image">
              <img class="top-image" src="images/people/people.png">
          </div>
            <div id="ethos">
                <p class="big-paragraph">
                  The Sculpting Visualization Collaborative is a multidisciplinary, cross-institutional team creating
                  tools that bring artists, designers, and others outside of the sciences directly into the visualization process.
                  Generating new methodologies through integration of the arts and the sciences, the Collaborative creates a richer,
                  expanded vocabulary for visualization that improves domain science research, team collaboration, adn public-facing
                  communication about important issues in climate, computing, neurology, archeology, biology, and more.
                </p>
                <p>
                  Current research directions include:
                </p>
                <ul>
                  <li>Visualization software architectures for arts, humanities, and STEM integration</li>
                  <li>AR, VR, Data Physicalization, and Touch-Based Data Querying</li>
                  <li>Immersive and interactive visualization exhibitions in alternative venues</li>
                  <li>Humanities-based evaluation methods</li>
                  <li>Team science and knowledge building using physical and/or interactive visualization</li>
                </ul>
            </div>
            <div id="people">
                <h1>People</h1>
                <h2>Project Principal Investigators</h2>
                <ul>
                    <li>
                        <img src="images/people/DanKeefe.png">
                        <h3>Dan Keefe</h3>
                        <h4>Interactive Visualization Lab</h4>
                        <h4>University of Minnesota</h4>
                    </li>
                    <li>
                        <img src="images/people/FrancescaSamsel.jpg">
                        <h3>Francesca Samsel</h3>
                        <h4>Texas Advanced Computing Center</h4>
                        <h4>University of Texas at Austin</h4>
                    </li>

                    <li>
                        <img src="images/people/GregAbram.jpg">
                        <h3>Greg Abram</h3>
                        <h4>Texas Advanced Computing Center</h4>
                        <h4>University of Texas at Austin</h4>
                    </li>

                    <li>
                        <img src="images/people/CullenJackson.png">
                        <h3>Cullen Jackson</h3>

                        <h4>Harvard University Medical School</h4>
                        <h4>Beth Israel Deaconess Medical Center</h4>
                    </li>

                </ul>
                <h2>Students</h2>
                <ul>
                    <li>
                        <img src="images/people/BridgerHerman.jpeg">
                        <h3>Bridger Herman</h3>
                        <h4>UMN</h4>
                    </li>
                    <li>
                        <img src="images/people/ClaireFitch.png">
                        <h3>Claire Fitch</h3>
                        <h4>UT Austin</h4>
                    </li>
                    <li>
                        <img src="images/people/KietTran.jpeg">
                        <h3>Kiet Tran</h3>
                        <h4>UMN</h4>
                    </li>
                    <li>
                        <img src="images/people/Matthias.png">
                        <h3>Matthias Broske</h3>
                        <h4>UMN</h4>
                    </li>
                  </ul>
                  <ul>
                    <li>
                        <img src="images/people/MorganTurner.png">
                        <h3>Morgan Turner</h3>
                        <h4>UMN</h4>
                    </li>
                    <li>
                        <img src="images/people/StephanieZeller.png">
                        <h3>Stephanie Zeller</h3>
                        <h4>UT Austin</h4>
                    </li>

                </ul>
                <h2>Domain Science Collaborators</h2>
                <ul>
                  <li>
                    <img src="images/people/MarkPetersen.png">
                    <h3>Mark Petersen</h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                  <li>
                    <img src="images/people/PhillipWolfram.png">
                    <h3>Phillip Wolfram</h3>
                    <h3>Los Alamos National Laboratory</h3>
                  </li>
                </ul>
                <h2>Alumni</h2>
                <ul>
                    <li>
                        <img src="images/people/SethJohnson.png">
                        <h3>Seth Johnson</h3>
                        <h4>University of Minnesota</h4>
                    </li>
                    <li>
                        <img src="images/people/DavidKinney.png">
                        <h3>David Kinney</h3>
                        <h4>University of Minnesota</h4>
                    </li>
                </ul>

            </div>
            {% include "njk/footer.html" %}
        </svis-page>
      <script src="" async defer></script>
    </body>
</html>
