<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
          <div>
            <h1><a href="#overview">Visualization Software Architectures for Arts, Humanities, and STEM Integration</a></h1>
            <h2>Artifact-Based Rendering</h2>
            <ul>
                <li><a href="#overview">Artifact-Based Rendering</a></li>
                <li><a href="#software">Software</a></li>
                <li><a href="#ExpandedVocab">Expanded Visualization Vocabularies</a></li>
                <li><a href="#interface">ABR Interface</a></li>
                <li><a href="#libraries">ABR Libraries</a></li>
                <li><a href="#applets">Applets</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="#pubs">Publications</a></li>
            </ul>
          </div>
        </thrust-sidebar>

        <thrust-content>
            <div id="overview">
              <h2>Artifact-Based Rendering</h2>
              <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-Overview.png">
              </div>
              <p class="big-paragraph">Artifact-Based Rendering (ABR) is a framework that includes tools and processes to enable
                digital visualizations to incorporate physical media. Created with artists and designers in mind, ABR is a technical
                foundation and the input channel for Sculpting Visualization’s project to enrich the visual vocabulary of scientific
                visualization through hand-crafted or naturally occurring objects. ABR bridges key barriers to incorporating artists
                and designers into visualization teams by enabling them to contribute their visual expertise without spending months
                learning software tools that currently limit the creative possibilities for their work.</p>
            </div>
            <div id="software">
              <h2>Software Etc</h2>
              <p class="big-paragraph">This is where a bunch of fun stuff about the software intricacies go! Sculpting Visualization
                is a research project that brings <a href="#">art and design theory</a> and practice to visualization. Drawing on
                the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and
                interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data
                physicalization technology.</p>
              <div class="dual-images">
                  <div class="first-image">
                      <img src="../images/sample.jpg">
                      <h5>Other cool things.</h5>
                  </div>
                  <div class="../second-image">
                      <img src="../images/sample.jpg">
                      <h5>Hey this is information that is cool and important.</h5>
                  </div>
              </div>
            </div>
            <div id="ExpandedVocab">
              <h2>Expanded Visualization Vocabularies</h2>
              <div class="first-image">
                <img src="../images/thrusts/VisSoftwareArch/ABR-expanded_vocab_teaser.png">
                <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
              </div>
              <p class="big-paragraph">ABR enables artists and designers to leverage their practices in the visualization space. This
                capability includes expanding the visual vocabulary of scientific visualization—redefining the visual components used in
                data representations in a shift toward human- and nature-made glyphs, textures, lines and colors. This shift shortens the
                distance between data and the natural phenomena they represent and opens new possibilities for visually distinguishing
                and communicating intra-variate dynamics in complex visualizations.</p>
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-line.png">
                  <h5>Fig. ABR-line</h5>
                </div>
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-shape.png">
                  <h5>Fig. ABR-shape</h5>
                </div>
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-color1.png">
                  <h5>Fig. ABR-color1</h5>
                </div>
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-color2.png">
                  <h5>Fig. ABR-color2</h5>
                </div>
            </div>
            <div id="interface">
              <h2>ABR Interface</h2>
              <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-Interface_2.png">
                  <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
              </div>
              <p class="big-paragraph">Sculpting Visualization is a <a href="#">research project</a> that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            </div>
            <div id="libraries">
              <h2>ABR Libraries</h2>
              <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR_libraries_1.png">
                  <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
              </div>
              <p class="big-paragraph">The ABR library catalogues glyphs, lines, colormaps, and textures created by Francesca Samsel, professional artist and co-PI of the Sculpting Vis Collaborative. Each of these assets is usable in the Artifact-Based Rendering program. Click here to access the online library of vis assets. </p>
            </div>
            <div id="applets">
              <h2>Applets</h2>
              <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-applets.png">
                  <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
              </div>
              <div>
                <p class="big-paragraph">
                  Generating dynamic vis assets for use in our ABR program may be a barrier for artists unfamiliar with programming architectures.
                  We created a series of Applets—ColorLoom, Infinite Line, Glyph Aligner, and Texture Mapper—to facilitate asset creation and easy import in ABR.
                </p>
                <p>
                  <h4 style="display: inline;">ColorLoom</h4> allows a user to generate custom colormaps with hues automatically pulled from imported images. This applet gives users looking to design a custom colormap a
                  dynamic starting point, and allows them to pull hues from imagery directly related to the dataset they are visualizing.
                </p>
                <p>
                  <h4 style="display: inline;">Infinite Line</h4> brings the physical artistic process into the visualization generation pipeline by allowing a user to sketch a line segment,
                  upload an image of the sketch, and turn that sketch into a continuous, unbroken, patterned streamline. The output file can be dragged directly into ABR for immediate use.
                </p>
              </div>
              <div class="dual-images">
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-Colorloom.png">
                  <h5>The Colorloom Applet interface</h5>
                </div>
                <div class="second-image">
                 <img src="../images/thrusts/VisSoftwareArch/ABR-infiniteline.png">
                 <h5>The Infinite Line Applet interface</h5>
                </div>
              </div>
              <div>
                <p>
                  <h4 style="display: inline;">Glyph Aligner,</h4> like Infinite Line, connects the physical artistic process with the digital.
                  When an artist creates a three-dimensional object, such as a small clay sculpture, they can 3D scan this object and drag it into Glyph Aligner.
                  Glyph Aligner allows users to give this 3D scan a directional quality. The output file can be dragged directly into ABR for immediate use as a glyph.
                </p>
                <p>
                  <h4 style="display: inline;">Texture Mapper</h4> shortens the space between the texture of the physical and digital worlds.
                    A user may simply take a photo of any surface and upload that photo to texture mapper.
                    The program automatically extracts the texture of the photo and produces a file output that can be dragged directly into ABR for immediate use as a texture for data surfaces in a visualization.
                </p>
              </div>
              <div class="dual-images">
                <div class="first-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-glyphaligner.png">
                  <h5>The Glyph Aligner Applet interface</h5>
                </div>
                <div class="second-image">
                  <img src="../images/thrusts/VisSoftwareArch/ABR-texturemapper.png">
                  <h5>The Texture Mapper Applet interface</h5>
                </div>
              </div>
            </div>
            <div id="resources">
              <h2>Resources</h2>
              <ul>
                <li><a href="http://sculptingvis/applets/">Artifact Assets</a></li>
                <li><a href="http://sculptingvis/library/">Artifact Library</a></li>
                <li><a href="http://sculptingvis/applets/">Code</a></li>
              </ul>
            </div>
            <div id="pubs">
              <h2>Publications</h2>
              <ul>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
              </ul>
            </div>
            <div id="supporters">
              <h2 id="support-title">This Research Thrust is Supported By</h2>
              <ul>
                  <li><a href="#">The National Science Foundation</a></li>
                  <li><a href="#">The Foundation of Color</a></li>
                  <li><a href="#">Smart People Association</a></li>
              </ul>
            </div>
        </thrust-content>

        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>

      <script src="" async defer></script>
    </body>
</html>
