<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Research Projects | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>
        sstrong {
          font-weight: bolder
        }
        </style>
    </head>
    <body>
      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
          <div>
              <h1>Visualization Software Architectures for Arts, Humanities,
                  <br>and STEM Integration</h1>
              <h2>AR, VR, Physicalization & Touch-Based Querying</h2>
              <ul>
                  <li><a href="#overview">AR, VR, Physicalization &
                    <br>Touch-Based Querying</a></li>
                  <li><a href="#phys">Physicalization</a></li>
                  <li><a href="#querying">Touch-Based Querying</a></li>
                  <li><a href="#vr">VR</a></li>
                  <li><a href="#ar">AR</a></li>
                  <li><a href="#pubs">Publications</a></li>
              </ul>
          </div>
        </thrust-sidebar>

        <thrust-content>
          <div id="overview">
            <h2>AR, VR, Physicalization & Touch-Based Querying</h2>
            <p class="big-paragraph">Sculpting Visualization is a research project that brings <a href="#">art and design theory</a> and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/VisSoftwareArch/Phys_teaser.png">
                </div>
            </div>
          </div>
          <div id="phys">
            <h2>Physicalization</h2>
            <p>Sculpting Visualization is a research project that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/VisSoftwareArch/Phys_overview.png">
                </div>
            </div>
          </div>
          <div id="querying">
            <h2>Touch-Based Querying</h2>
            <p>Sculpting Visualization is a <a href="#">research project</a> that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/VisSoftwareArch/AR-1.png">
                </div>
            </div>
          </div>
          <div id="vr">
            <h2>VR</h2>
            <p>Sculpting Visualization is a <a href="#">research project</a> that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/hero.jpg">
                </div>
            </div>
          </div>
          <div id="ar">
            <h2>AR</h2>
            <p>Sculpting Visualization is a <a href="#">research project</a> that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/hero.jpg">
                </div>
            </div>
          </div>
          <div class=project-publications id=pubs>
            <h2>Publications</h2>
            <pubs>
              {% include "publications/2021/Multi-Touch/pub.html" %}
            </pubs>
          </div>
        </thrust-content>

        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>
    </body>
</html>
