<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
            <div>
                <h1>Related Projects</h1>
                <h2>Boxcars and Potatoes</h2>
                <ul>
                    <li><a href="#overview">Thrust Overview</a></li>
                    <li><a href="#physicalization">1. Physicalization of Physical Particles</a></li>
                    <li><a href="#following-po">2. Following Physical Objects</a></li>
                    <li><a href="#publications">Publications/a></li>
                </ul>
            </div>
        </thrust-sidebar>

        <thrust-content>
          <div id="overview">
            <h2>Boxcars and Potatoes</h2>
            <p class="big-paragraph">Sculpting Visualization is a research project that brings <a href="#">art and design theory</a> and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="dual-images">
                <div class="first-image">
                    <img src="../images/sample.jpg">
                    <h5>Other cool things.</h5>
                </div>
                <div class="second-image">
                    <img src="../images/sample.jpg">
                    <h5>Hey this is information that is cool and important.</h5>
                </div>
            </div>
          <div id="physicalization">
            <h2>Physicalization of Physical Particles</h2>
            <p>Sculpting Visualization is a research project that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <p>Sculpting Visualization is a research project that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology. Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/sample.jpg">
                </div>
            </div>

          </div>
          <div id="publications">
            <h2>Publications</h2>
            <pubs>
            </pubs>
          </div>
        </thrust-content>

        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>

      <script src="" async defer></script>
    </body>
</html>
