<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Research Projects | Sculpting Visualizations</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="js/code.js"></script>
  </head>
  <body>
    <navigation-bar>
      {% include "njk/header.html" %}
    </navigation-bar>

    <thrust-page>

      <thrust-sidebar>
        <div>
          <h1>Domain Science Collaborations</h1>
          <h2>Brain</h2>
          <ul>
              <li><a href="#overview">Brain</a></li>
              <li><a href="#pubs">Publications</a></li>
          </ul>
        </div>
      </thrust-sidebar>

      <thrust-content>
              <div  id="overview"><br>
                <h2>Brain</h2>
                <p class="big-paragraph">The Sculpting Vis Collaborative worked with Professor Christophe Lenglet at the Department of Radiology, University of Minnesota, and a team of researchers, to visualize Zeppelin-Cylinder-Cylinder-Dot parameter estimation for in-vivo human brain data using Artifact-Based Rendering software. The result allowed researchers to explore dense, multivariate data in three dimensions, and to explore the familiar structure of the brain more intuitively. </p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/Brain_1.png">
                    </div>
                </div>

                <div class="dual-images">
                    <div class="first-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/Brain_2.png">
                    </div>
                    <div class="second-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/Brain_collab.png">
                    </div>
                </div>
              </div>
              <div id="pubs"><br>
                <h2>Publications</h2>
                <pubs>
                </pubs>
              </div>
      </thrust-content>

      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>

    <script src="" async defer></script>
  </body>
</html>
