<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

        {% include "html/header.html" %}


        <!-- Container to create the sidebar and main page content. -->
        <div id="page-container">

            <div id="sidebar">
                <div class="sticky">
                    <h1>Domain Science Collaborations</h1>
                    <h2>Brain</h2>
                    <ul>
                        <li><a href="#overview">Brain</a></li>
                        <li><a href="#pubs">Publications</a></li>
                        <li><a href="#support">Support</a></li>
                    </ul>
                </div>
            </div>
            <div id="content"><br>
              <div  id="overview"><br>
                <h3>Brain</h3>
                <p class="big-paragraph">Sculpting Visualization is a research project that brings <a href="#">art and design theory</a> and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_1.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                </div>

                <div class="dual-images">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_2.png">
                        <h5>Other cool things.</h5>
                    </div>
                    <div class="second-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_collab.png">
                        <h5>Hey this is information that is cool and important.</h5>
                    </div>
                </div>
              </div>
              <div id="pubs"><br>
                  <h3>Publications</h3>
                  <ul>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                  </ul>
              </div>
              <div id="support"><br>
                <h3>This Research Thrust is Supported By</h3>
                <ul>
                    <li><a href="#">The National Science Foundation</a></li>
                    <li><a href="#">The Foundation of Color</a></li>
                    <li><a href="#">Smart People Association</a></li>
                </ul>
              </div>
            </div>
        </div>

        {% include "html/footer.html" %}

        <script src="" async defer></script>
    </body>
</html>
