<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Research Projects | Sculpting Visualizations</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
      <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <thrust-nav>
      {% include "njk/header.html" %}
    </thrust-nav>

    <thrust-page>

      <thrust-sidebar>
        <div>
          <h1>Domain Science Collaborations</h1>
          <h2>Brain</h2>
          <ul>
              <li><a href="#overview">Brain</a></li>
              <li><a href="#pubs">Publications</a></li>
          </ul>
        </div>
      </thrust-sidebar>

      <thrust-content>
              <div  id="overview"><br>
                <h2>Brain</h2>
                <p class="big-paragraph">Sculpting Visualization is a research project that brings <a href="#">art and design theory</a> and practice to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization technology.</p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_1.png">
                    </div>
                </div>

                <div class="dual-images">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_2.png">
                    </div>
                    <div class="second-image">
                        <img src="../images/thrusts/Domain Science Collaborations/Brain_collab.png">
                    </div>
                </div>
              </div>
              <div id="pubs"><br>
                <h2>Publications</h2>
                <pubs>
                </pubs>
              </div>
      </thrust-content>

      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>

    <script src="" async defer></script>
  </body>
</html>
