<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Research Projects | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
          <div>
            <h1><a href="#overview">Evaluation</a></h1>
            <h2>Close Reading</h2>
            <ul>
                <li><a href="#overview">Artifact-Based Rendering</a></li>
                <li><a href="#pubs">Publications</a></li>
                <li><a href="#support">Support</a></li>
            </ul>
          </div>
        </thrust-sidebar>

        <thrust-content>

          <div id=overview>
              <h2>Close Reading as a Method for Evaluating Visualizations</h2>
              <div class="single-image">
                  <div class="first-image">
                      <img src="../images/thrusts/evaluation/Eval-1.png">
                      <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                  </div>
              </div>
              <p class="big-paragraph">Visualization research and practice that incorporates the arts make claims
                to being more effective in connecting with users on a human level. However, these claims are
                difficult to measure quantitatively. This work encompasses several studies on using close reading,
                a humanities method from literary studies, to evaluate visualizations created using  artistic
                processes, including Artifact-Based Rendering. To  use  close  reading  as  an evaluation method,
                we guided participants through a series of steps designed  to  prompt  them  to  interpret  the
                visualization’s  formal, informational,  and  contextual  features. The papers collected here
                elaborate  on  our motivations  for  using  close  reading  as  a  method  to  evaluate visualizations,
                and enumerate the procedures we used in the study to  evaluate  a  2D  visualization,  including
                modifications  made because  of  the  COVID-19  pandemic. Key  findings  of  these  studies
                include that close reading is an effective formative method to elicit information  related
                to  interpretation  and  critique;  user  subject position; and suspicion or skepticism.
                Information gained through close  reading  is  valuable  in  the  visualization  design  and
                iteration processes,  both  related  to  designing  features  and  other  formal elements   more
                 effectively,   as   well   as   in   considering   larger questions of context and framing.
              </p>
              <div dual-images>
                    <div class="first-image">
                        <img src="../images/thrusts/evaluation/Eval-2.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                    <div class="second-image">
                        <img src="../images/thrusts/evaluation/Eval-3.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                </div>
              </div>
              <div dual-images>
                <div class="first-image">
                    <img src="../images/thrusts/evaluation/Eval-4.gif">
                    <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                </div>

                <div class="second-image">
                    <img src="../images/thrusts/evaluation/Eval-5.gif">
                    <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                </div>
              </div>
          </div>
          <div id="pubs">
            <h2>Publications</h2>
            <ul>
                <li>
                    <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                    <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                    <i>IEEE Computer Graphics and Applications, 2021</i></p>
                </li>
                <li>
                    <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                    <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                    <i>IEEE Computer Graphics and Applications, 2021</i></p>
                </li>
                <li>
                    <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                    <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                    <i>IEEE Computer Graphics and Applications, 2021</i></p>
                </li>
                <li>
                    <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                    <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                    <i>IEEE Computer Graphics and Applications, 2021</i></p>
                </li>
            </ul>
          </div>
          <div id="support">
                <h2 id="support-title">This Research Thrust is Supported By</h2>
                <ul>
                    <li><a href="#">The National Science Foundation</a></li>
                    <li><a href="#">The Foundation of Color</a></li>
                    <li><a href="#">Smart People Association</a></li>
                </ul>
            </div>

        </thrust-content>

        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>

      <script src="" async defer></script>
    </body>
</html>
