<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Research Projects | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>
        <thrust-sidebar>
          <div>
              <h1>Domain Science Colaborations</h1>
                <h2>Skeletal Motion</h2>
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#publications">Publications</a></li>
                    <li><a href="#support">Support</a></li>
                </ul>
            </div>
        </thrust-sidebar>

        <thrust-content>
          <div id=overview>
            <h2>Skeletal Motion</h2>
            <p class="big-paragraph">
              The analysis of skeletal motion is a primary area of research for paleontologists and
              biologists to gain insight into how extinct animals once moved on earth. Visualizing and measuring 3-D skeletal
              movement in living animals is possible with X-ray Reconstruction of Moving Morphology (XROMM), an animation-based technique
              developed at Brown University (xromm.org). However, exploring and analyzing patterns of movement from the wealth of
              multidimensional time-varying data generated from this method is complex, even just for a relatively simple joint between
              two bones, but notably so with multiple articulated bones, such as those in the foot. A unique large experimentally-collected
              dataset of alligator foot skeleton animations (figured) have been generated from the research of Morgan Turner, a paleontologist,
              biologist, and artist collaborating with the Sculpting Vis Collaborative. This dataset is not only particularly useful in the
              study of locomotor evolution in extinct dinosaurs and relatives, but also serves as the core dataset for development of new
              visualization techniques to support data discovery and analysis of spatial and temporal skeletal motion patterns. Artifact-Based
              Rendering (ABR) is used as the graphics engine to render motion tracers, bones, and other 3-D components within a domain-focused
              application.
            </p>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/Domain Science Collaborations/dinobones.jpg">
                </div>
            </div>
          </div>

          <div id="publications">
              <h2>Publications</h2>
              <ul>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
              </ul>
          </div>
          <div id="supporters">
              <h3 id="support-title">This Research Thrust is Supported By</h3>
              <ul>
                  <li><a href="#">The National Science Foundation</a></li>
                  <li><a href="#">The Foundation of Color</a></li>
                  <li><a href="#">Smart People Association</a></li>
              </ul>
          </div>
        </thrust-content>

        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>

    <script src="" async defer></script>
  </body>
</html>
