<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/code.js"></script>
    </head>
    <body>

    <thrust-nav>
      {% include "njk/header.html" %}
    </thrust-nav>

    <thrust-page>

        <thrust-sidebar>
          <div>
            <h1>Visualization Software Architectures for Arts, Humanities,
                <br>and STEM Integration</h1>
              <h2>Exhibitions</h2>
              <ul>
                  <li><a href="#climateprisms">Climate Prisms</a></li>
                  <li><a href="#immersiveexhibit">Immersive Exhibit</a></li>
                  <li><a href="#planetariums">Planetariums</a></li>
                  <li><a href="#pubs">Publications</a></li>
              </ul>
          </div>
        </thrust-sidebar>


        <thrust-content>

        {# <div id="overview">
The Minnesota and Texas arms of the Sculpting Vis Collaborative are both working on several projects related to Immersive Exhibitions of diverse data. Interested in advanced science storytelling, the Collaborative is currently exploring the possibilities of embodied, interactive learning and co-authorship of data visualizations to improve public understanding of complex science. Current projects include Climate Prisms, Planetariums, and Indigenous Futures.         </div> #}

        <div id=climateprisms>
          <h2>Climate Prisms</h2>

          <iframe src="https://player.vimeo.com/video/376557351?h=d5d2ddc5c2" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  <p><a href="https://vimeo.com/376557351">Intro to Climate Prisms: The Arctic</a> from <a href="https://vimeo.com/user7604918">Francesca Samsel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

          <p class="big-paragraph">Climate Prisms: The Arctic is an interactive museum exhibit about three Arctic researchers
            exploring and documenting the rapidly changing Arctic tundra. The work focuses on these scientists’ primary specialties:
            geomorphology, hydrology and biogeochemistry. The work provides entry into their laboratories, field sites and daily research
            activities, pulling away the veil that obscures the scientific process and grounding abstractions in human experience. </p>

          <p class="big-paragraph">The goal of this work is to bridge the distance between the physical world and scientific process through multiple approachable
            modalities pulled from both the world of art and the world of science. Content paths are determined by an underlying system of tags,
            levels, content categories and related research areas. A screen shows a set of images. Each image can be accessed to provide
            image-specific information or can act as a launch point for a new set of related content and images that allows the user to continue
            exploring their chosen subject matter. Each person creates a unique path through hundreds of pieces of climate content.
            Embedded assessments log basic demographics of each individual that interacts with the work. Each participant is able to plot their own
            path through the complex science, moving through the content at the pace and level of detail that best enabled them to engage with the
            material. </p>
          <div class="single-image">
              <div class="first-image">
                  <img src="images/thrusts/Immersive-Exhibitions/climateprisms_replace.jpg">
              </div>
          </div>
        </div>
        <div id="immersiveexhibit">
          <h2>Immersive Exhibit</h2>
          <p class="big-paragraph">Another ongoing focus of this project is
            physical + digital immersive spaces that allow visitors to interact with
            data, imagery, and natural artifacts to draw
            connections within and between their everyday lives and the devastating
            effects of rapid climate change.<br>

            Below, a video of data elements of a visualization of
              the Gulf of Mexico flow, back-projected onto shower curtains in a multi-use conference room in the UT Vis Lab.
              The team is interested in using low-cost materials to produce engaging and immersive experiences with climate data. </p>
          <div class="single-image">
              <div class="first-image">
                  <img src="images/thrusts/Immersive-Exhibitions/immersive_replace.png">
              </div>
          </div>

        <div id=planetariums>
          <h2>Planetariums</h2>
          <div class="single-image">
              <div class="first-image">
                  <img src="images/thrusts/Immersive-Exhibitions/planetarium_replace.png">
              </div>
          </div>
          <p class="big-paragraph">In partnership with The Bell Planetarium and Museum in Minneapolis, Minnesota, and The Los Alamos Nature Center Planetarium in Los Alamos,
            New Mexico, the Sculpting Vis collaborative is working to translate mult-modal interactive data visualizations and our Artifact-Based
            Rendering software for use in public planetariums and science museums around the country. The group seeks to engage diverse audiences
            in new and imaginative forms of interactive exploration of large, complex, and often inaccessible datasets in equally large and immersive
            spaces to increase broader impacts and to better understand how to break down the barrier between research and public-facing content. </p>

        </div>

      </div>

      </thrust-content>

      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>

    <script src="" async defer></script>
  </body>
</html>
