<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

    <thrust-nav>
      {% include "njk/header.html" %}
    </thrust-nav>

    <thrust-page>

        <thrust-sidebar>
          <div>
              <h1>Immersive Exhibitions</h1>
              <h2>Climate Prisms</h2>
              <ul>
                  <li><a href="#overview">Climate Prisms</a></li>
                  <li><a href="#physicalization">Physicalization</a></li>
                  <li><a href="#cp-immersive">Immersive Exhibit</a></li>
                  <li><a href="#pubs">Publications</a></li>
              </ul>
          </div>
        </thrust-sidebar>


        <thrust-content>
        <div id="overview">
          <h2>Climate Prisms</h2>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/Immersive-Exhibitions/cp_2.jpeg">
              </div>
          </div>
          <p class="big-paragraph">The Arctic is about bridging the distance between the physical
            world and scientific visualization through multiple approachable modalities pulled
            from both the world of art and the world of science. The original project was intended
            as a museum exhibition focused on climate science research conducted in the Arctic and
            featuring a large display screen driven by a touch interface designed for individual or
            small group viewing. Content paths were determined by an underlying system of tags, levels,
            content categories and related research areas. A screen showed a set of images. Each image
            could be accessed to provide image-specific information or could act as a launching pad for
            a new set of related content and images that allows the user to continue on their exploration
            journey. Each person created a unique path through hundreds of pieces of climate content.
            Embedded assessments logged basic demographics of each individual that interacted with the work.
            Each participant was able to plot their own path through the complex science, moving through
            the content at the pace and level of detail that best enabled them to engage with the material. </p>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/Immersive-Exhibitions/climateprisms_1.jpeg">
              </div>
          </div>
        </div>
        <div id="physicalization">
          <h2>Physicalization</h2>
          <p>The project has grown with the Sculpting Vis collaborative to incorporate
            new tools and research directions. The ongoing focus of this project is
            physical + digital immersive spaces that allow visitors to interact with
            data, imagery, poetry, and both human and natural artifacts to draw
            connections within and between their everyday lives and the devastating
            effects of rapid climate change on the other side of the planet.
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/Immersive-Exhibitions/CP2.jpeg">
              </div>
          </div>
        </div>
        <div id="cp-immersive">
          <h2>Immersive Exhibit</h2>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/Immersive-Exhibitions/CPoverview.jpeg">
              </div>
          </div>
          <p>The images above and below show early experiments with interactive projection of visualizations
            and content from the original Climate Prisms project. Below, a video of data elements of a visualization of
            the Gulf of Mexico flow, back-projected onto shower curtains in a multi-use conference room in the UT Vis Lab.
            The team is interested in using low-cost materials to produce engaging and immersive experiences with climate data. </p>

          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/Immersive-Exhibitions/immersive_3.jpeg">
              </div>
          </div>
        </div>
      </thrust-content>

      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>

    <!-- <script src="" async defer></script> -->
  </body>
</html>
