<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Research Projects | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/code.js"></script>
    </head>
    <body>
      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
          <div>
              <h1>Domain Science Collaborations</h1>
              <h2>Gulf of Mexico</h2>
              <ul>
                  <li><a href="#overview">Gulf of Mexico</a></li>
                  <li><a href="#contributors">Contributors</a></li>
                  <li><a href="#pubs">Publications</a></li>
              </ul>
          </div>
        </thrust-sidebar>


        <thrust-content>
          <div  id="overview">
            <h2>Gulf of Mexico</h2>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/Domain-Science-Collaborations/GOM_1.png">
                </div>
            </div>
            <p class="big-paragraph">The Sculpting Vis Collaborative works in close collaboration with climate
              modelers at Los Alamos National Laboratory on a number of projects. One such ongoing project
              studies the biogeochemistry of the Gulf of Mexico in order to determine where algal blooms have
              occurred in the past and may occur in the future as the climate rapidly shifts. These bloom
              sites could prove to be an extremely valuable biofuel resource. Climate modelers use complex,
              multivariate simulations to understand ocean currents and chemistry and how they influence each
              other. We use our Artifact-Based Rendering (ABR) tool to visualize this simulation data in three
              dimensions with unique glyphs, streamlines, colormaps and textures, allowing scientists to better
              recognize and study relationships between these many interdependent variables in space. </p>

            <iframe src="https://player.vimeo.com/video/553404481" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            
            <div class="dual-images">
                <div class="first-image">
                    <img src="../images/thrusts/Domain-Science-Collaborations/GOM_2.png">
                </div>
                <div class="second-image">
                    <img src="../images/thrusts/Domain-Science-Collaborations/GOM_3.png">
                </div>
            </div>
            <div class="single-image">
                <div class="first-image">
                    <img src="../images/thrusts/Domain-Science-Collaborations/GoM2.png">
                </div>
            </div>
          </div>
          <div class=project-publications id=pubs>
            <h2>Publications</h2>
            <pubs>
            </pubs>
          </div>
        </thrust-content>


        <thrust-footer>
          {% include "njk/footer.html" %}
        </thrust-footer>

      </thrust-page>

      <script src="" async defer></script>
    </body>
</html>
