<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css"> 
    </head>
    <body>

        {% include "html/header.html" %}

        <div id="homepage-container">
            <div id="hero-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <div class="thrust-title">
                        <p>Featured Research Thrust</p>
                        <h1>Camera Tracking</h1>
                    </div>
                    <p class="desc">Sculpting Visualization is a research project that brings art and design theory and practice to visualization.</p>
                </a>
            </div>
            <div id="about-lab">
                <p>Sculpting Visualization is a research project that brings art and design theory and practice to visualization. Drawing on the expertise of a multidisciplinary team.</p>
            </div>
            <div class="research-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <p>Thrust</p>
                    <h2>Artifact-Based Rendering</h2>
                </a>
            </div>
            <div class="research-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <p>Thrust</p>
                    <h2>Planetariums</h2>
                </a>
            </div>
            <div id="featured-pubs">
                <h1>Featured Publications</h1>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p><span>Greg Abram</span>, <span>Francesca Samsel</span>, <span>Mark R Petersen</span>, <span>Xylar Asay-Davis</span>, <span>Darin Comeau</span>, <span>Stephen F Price</span> <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
          {% include "html/footer.html" %}
        <script src="" async defer></script>
    </body>
</html>
