<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SculptingVis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

        {% include "njk/header.html" %}

        <div id="homepage-container">
            <div id="hero-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <div class="thrust-title">
                        <h1>Sculpting Visualizations</h1>
                    </div>
                </a>
            </div>
            <div id="about-lab">
              <p class="desc">Sculpting Visualizations is a multidisciplinary, cross-institutional team creating tools that bring artists and
              designers directly into the scientific visualization process. By integrating the arts and the sciences,
              the Sculpting Vis Collaborative aims to improve domain science research, team collaboration, and public-facing
              communication about important issues in climate, computing, neurology, archeology, biology, and more.
              </p>
            </div>
            <div class="research-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <p>Research Project</p>
                    <h2>Artifact-Based Rendering</h2>
                </a>
            </div>
            <div class="research-thrust">
                <a href="thrusts.html">
                    <img src="../images/hero.jpg">
                    <p>Research Project</p>
                    <h2>Multi-Touch Querying on Data Physicalizations</h2>
                </a>
            </div>
            <div id="featured-pubs">
                <h1>Featured Publications</h1>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p><span>Greg Abram</span>, <span>Francesca Samsel</span>, <span>Mark R Petersen</span>, <span>Xylar Asay-Davis</span>, <span>Darin Comeau</span>, <span>Stephen F Price</span> <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="publication">
                    <img src="../publications/Antarctic_Water_Masses/image.png" alt="Improved color for graphed data from the Arctic"/>
                    <div class="desc">
                        <h3><a href="../publications/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a></h3>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                        <ul>
                            <li><a href="../publications/Antarctic_Water_Masses/citation.tex" target="_blank">Cite</a></li>
                            <li><a href="https://doi.org/10.1109/MCG.2020.3044228" target="_blank">DOI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
          {% include "njk/footer.html" %}
        <script src="" async defer></script>
    </body>
</html>
