<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SculptingVis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/code.js"></script>
    </head>
    <body>
      <navigation-bar>
        {% include "njk/header.html" %}
      </navigation-bar>

      <homepage-page>
        <homepage-content>
          <div id="hero-thrust">
              <a href="ABR.html#overview">
                  <img src="images/hero.jpg">
              </a>
          </div>
          <h1>Sculpting Vis</h1>
          <div id="about-lab">
            <p>
              The Sculpting Vis Collaborative is a multidisciplinary, cross-institutional team creating
              tools that bring artists, designers, and others outside of the sciences directly into the visualization process.
              Generating new methodologies through integration of the arts and the sciences, the Collaborative creates a richer,
              expanded vocabulary for visualization that improves domain science research, team collaboration, and public-facing
              communication about important issues in climate, computing, neurology, archeology, biology, and more.
            </p>
            <p>
              Current research directions include:
            </p>
            <ul>
              <li>Visualization software architectures for arts, humanities, and STEM integration</li>
              <li>AR, VR, Data Physicalization, and Touch-Based Data Querying</li>
              <li>Immersive and interactive visualization exhibitions in alternative venues</li>
              <li>Humanities-based evaluation methods</li>
              <li>Team science and knowledge building using physical and/or interactive visualization</li>
            </ul>
          </div>
          <h2>Featured Projects</h2>
          <div class=research-thrusts>
            <a href="ABR.html#overview">
              <div class="research-thrust">
                <h2>Artifact-Based Rendering</h2>
                <img class="research-thrust-image" src="images/thrusts/VisSoftwareArch/ABROpening.png">
              </div>
            </a>
            <a href="AR-VR.html#overview">
              <div class="research-thrust">
                  <h2>Multi-Touch Querying on Data Physicalizations</h2>
                  <img src="images/thrusts/VisSoftwareArch/PhysicalTouch4.png">
              </div>
            </a>
            <a href="Exhibitions.html#overview">
              <div class="research-thrust">
                  <h2>Immersive Exhibition</h2>
                  <img src="images/thrusts/VisSoftwareArch/Immersive1.png">
              </div>
            </a>
          </div>
        </homepage-content>
        {% include "njk/footer.html" %}
      </homepage-page>


      <script src="" async defer></script>
    </body>
</html>
