<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

        {% include "njk/header.html" %}

        <div id="list-container">
            <ul class="list">
                <h1>Research Thrusts</h1>
                <p class="big-paragraph">Research thrusts are categories of primary interest and focus,
                  each with its own projects and subprojects.</p>
                <li>Visualization Software Architectures For Arts, Humanities, <br>and STEM Integrations</li>
                <ul>
                    <li><a href="ABR.html">Artifact-Based Rendering</a></li>
                    <ul>
                      <li><a href="ABR.html#overview">Overview</a></li>
                      <li><a href="ABR.html#ExpandedVocab">Expanded Visualization Vocabularies</a></li>
                      <li><a href="ABR.html#interface">ABR Interface</a></li>
                      <li><a href="ABR.html#libraries">ABR Libraries</a></li>
                      <li><a href="ABR.html#resources">Resources</a></li>
                      <li><a href="ABR.html#applets">Applets</a></li>
                      <li><a href="ABR.html#pubs">Publications</a></li>
                    </ul>
                    <li><a href="AR-VR.html">AR, VR, Physicalization, and Interaction</a></li>
                    <ul>
                        <li><a href="AR-VR.html#overview">Overview</a></li>
                        <li><a href="AR-VR.html#vr">Virtual Reality</a></li>
                        <li><a href="AR-VR.html#ar">Augmented Reality</a></li>
                        <li><a href="AR-VR.html#phys">Physicalization</a></li>
                        <li><a href="AR-VR.html#interaction">Interaction</a></li>
                        <li><a href="AR-VR.html#pubs">Publications and Support</a></li>
                    </ul>
                </ul>
                <li><a href="Exhibitions.html">Exhibitions</a></li>
                <ul>
                  <li><a href="Exhibitions.html#climateprisms">Climate Prisms</a></li>
                  <li><a href="Exhibitions.html#immersiveexhibit">Immersive Exhibition</a></li>
                  <li><a href="Exhibitions.html#planetariums.html">Planetariums</a></li>
                </ul>
                <li><a href="Evaluation.html">Evaluation</a></li>
                <ul>
                    <li><a href="Evaluation.html#closereading">Close Reading for Visualization Evaluation</a></li>
                </ul>
                <li>Related Projects</li>
                <ul>
                    <li><a href="VisBySketching.html">VisBySketching</a></li>
                    <li><a href="SciVisColor.html">SciVisColor</a></li>
                    <li><a href="VMail.html">V-Mail</a></li>
                    <li><a href="BoxcarsAndPotatoes.html">Boxcars and Potatoes</a></li>
                </ul>
                <li>Domain Science Collaborations</li>
                <ul>
                    <li><a href="Brain.html">Brain</a></li>
                    <li><a href="DinoBones.html">Skeletal Motion</a></li>
                    <li><a href="GulfOfMexico.html">Gulf Of Mexico</a></li>
                    <li><a href="Antarctic.html">Antarctic</a></li>
                    <li><a href="MRI.html">MRI</a></li>
                    <li><a href="WITU.html">Water In The Universe</a></li>
                </ul>

            </ul>
            <ul class="list">
                <h1>Applications</h1>
                <p class="big-paragraph">This section includes applications created under major projects and relevant
                  documentation, links, downloads, open data, and tutorials.</p>
                <li><Artifact-Based Rendering</li>
                <ul>
                    <li><a href="ABR-app.html">Artifact-Based Rendering</a></li>
                    <li><a href="Libraries.html">Libraries</a></li>
                    <li><a href="Applets.html">Applets</a></li>
                </ul>
            </ul>
        </div>

            {% include "njk/footer.html" %}


        <script src="" async defer></script>
    </body>
</html>
