<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Research Project | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/code.js"></script>
    </head>
    <body>

      <navigation-bar>
        {% include "njk/header.html" %}
      </navigation-bar>

            <thrust-page>

            <thrust-sidebar>
              <div>
                  <h1>Domain Science Collaborations</h1>
                  <h2>MRI</h2>
                  <ul>
                      <li><a href="#overview">MRI</a></li>
                      <li><a href="#pubs">Publications</a></li>
                  </ul>
              </div>
            </thrust-sidebar>

            <thrust-content>
              <div id="overview">
                <h2>MRI</h2>
                <p class="big-paragraph">This work demonstrates the wide range of use and applicability of Sculpting Vis software to a multiplicity of scientific projects. One of the team’s undergraduate students at the University of Minnesota, Matthew Broske, has been developing a 2D plotting package that provides linking (for selection and filtering) not only between multiple data plots in 2D, but also between these 2D data plots and 3D representations of the data. This package aims to be useful in navigating, comparing, and displaying 3D proton radiation dose treatment plans from the Mayo Clinic. The images below show sample of a 2D plotting package being used to select a (fake) dosage configuration (on the right), which is then displayed (on the left) as a set of glyphs sampled from the radiation volume, using ABR as a rendering engine.</p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/Mayo1.png">
                    </div>
                </div>
              </div>

                <div class="single-image">
                    <div class="first-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/MRI-2.png">
                    </div>
                </div>
                <div class="single-image">
                    <div class="first-image">
                        <img src="images/thrusts/Domain-Science-Collaborations/MRI-3.png">
                    </div>
                </div>
              </div>
              <div class=project-publications id=pubs>
                <h2>Publications</h2>
                <pubs>
                </pubs>
              </div>
            </thrust-content>

            <thrust-footer>
              {% include "njk/footer.html" %}
            </thrust-footer>

          </thrust-page>

        <script src="" async defer></script>
    </body>
</html>
