<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

            <thrust-nav>
              {% include "njk/header.html" %}
            </thrust-nav>

            <thrust-page>

            <thrust-sidebar>
              <div>
                  <h1>Domain Science Collaborations</h1>
                  <h2>MRI</h2>
                  <ul>
                      <li><a href="#overview">MRI</a></li>
                      <li><a href="#part2">MRI More Info</a></li>
                      <li><a href="#publications">Publications</a></li>
                      <li><a href="#support">Support</a></li>
                  </ul>
              </div>
            </thrust-sidebar>

            <thrust-content>
              <div id="overview">
                <h2>MRI</h2>
                <p class="big-paragraph">Sculpting Visualization is a research project that brings <a href="#">art
                  and design theory</a> and practice to visualization. Drawing on the expertise of a multidisciplinary
                  team, Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and
                  resources to advance data visualization via 3D, augmented reality, virtual reality, and data
                   physicalization technology.</p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/MRI-1.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                </div>
              </div>
              <div id=part2>
                <h2>MRI More Info</h2>
                <p>Sculpting Visualization is a research project that brings art and design theory and practice
                  to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization
                  describes an ethos, a set of technical tools and interfaces, and resources to advance data
                  visualization via 3D, augmented reality, virtual reality, and data physicalization technology.
                  Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources
                  to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization
                  technology.</p>
                <p>Sculpting Visualization is a research project that brings art and design theory and practice
                  to visualization. Drawing on the expertise of a multidisciplinary team, Sculpting Visualization
                  describes an ethos, a set of technical tools and interfaces, and resources to advance data
                  visualization via 3D, augmented reality, virtual reality, and data physicalization technology.
                  Sculpting Visualization describes an ethos, a set of technical tools and interfaces, and resources
                  to advance data visualization via 3D, augmented reality, virtual reality, and data physicalization
                  technology.</p>
                <div class="single-image">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/MRI-2.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                </div>
                <div class="single-image">
                    <div class="first-image">
                        <img src="../images/thrusts/Domain Science Collaborations/MRI-3.png">
                        <h5>Fig. of a really badass render to show how color should be used to graph field data.</h5>
                    </div>
                </div>
              </div>
              <div id="publications">
                <h2>Publications</h2>
                <ul>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                    <li>
                        <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                        <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                        <i>IEEE Computer Graphics and Applications, 2021</i></p>
                    </li>
                </ul>
              </div>
              <div id="supporters">
                  <h3 id="support-title">This Research Thrust is Supported By</h3>
                  <ul>
                      <li><a href="#">The National Science Foundation</a></li>
                      <li><a href="#">The Foundation of Color</a></li>
                      <li><a href="#">Smart People Association</a></li>
                  </ul>
              </div>
            </thrust-content>

            <thrust-footer>
              {% include "njk/footer.html" %}
            </thrust-footer>

          </thrust-page>

        <script src="" async defer></script>
    </body>
</html>
