<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

      <thrust-nav>
        {% include "njk/header.html" %}
      </thrust-nav>

      <thrust-page>

        <thrust-sidebar>
          <div>
              <h1>Immersive Exhibitions</h1>
              <h2>Planetariums</h2>
              <ul>
                  <li><a href="#overview">Planetariums</a></li>
                  <li><a href="#pubs">Publications</a></li>
                  <li><a href="#support">Support</a></li>
              </ul>
          </div>
        </thrust-sidebar>

        <thrust-content>
            <div id="Overview">
              <h2 id="overview">Planetariums</h2>
              <p class="big-paragraph">In partnership with [XX planetarium in Minnesota] and [XX planetarium in New Mexico],
                the Sculpting Vis collaborative is working to translate mult-modal interactive data visualizations and our
                Artifact-Based Rendering software for use in public planetariums and science museums around the country.
                The group seeks to engage diverse audiences in new and imaginative forms of interactive exploration of large, complex,
                and often inaccessible datasets in equally large and immersive spaces to increase broader impacts and to better 
                understand how to break down the barrier between research and public-facing content. </p>
              <div class="single-image">
                  <div class="first-image">
                      <img src="../images/thrusts/Immersive-Exhibitions/immersive_2.jpeg">
                  </div>
              </div>
            </div>

            <div id=pubs>
              <h2>Publications</h2>
              <ul>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
                  <li>
                      <h4><a href="#">Antarctic Water Masses and Ice Shelves Visualizing the Physics</a><a class="doi" href="#">DOI</a></h4>
                      <p>Greg Abram, Francesca Samsel, Mark R Petersen, Xylar Asay-Davis, Darin Comeau, Stephen F Price <br/>
                      <i>IEEE Computer Graphics and Applications, 2021</i></p>
                  </li>
              </ul>
            </div>
            <div id="supporters">
              <h2 id="support-title">Supported</h2>
              <ul>
                  <li><a href="#">The National Science Foundation</a></li>
                  <li><a href="#">The Foundation of Color</a></li>
                  <li><a href="#">Smart People Association</a></li>
              </ul>
            </div>
          </thrust-content>

          <thrust-footer>
            {% include "njk/footer.html" %}
          </thrust-footer>

        </thrust-page>

        <script src="" async defer></script>
      </body>
  </html>
