<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Publications | Sculpting Visualizations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    {% include "njk/header.html" %}
    <publication-body>
            <year>
              <label><h1>2015</h1></label>
              <pubs>
        <pub id="2015 Vis-By-Sketching">
          <div class=pubimg>
            <img  class=pubimg src="../publications/2015/Vis-By-Sketching/image.png" alt="Vis-By-Sketching"/>
          </div>
          <div class="pubtxt">
            <p>
<span class=pub_title>Vis-By-Sketching</span>. No citation.
            </p>
          </div>
        </pub>
              </pubs>
            </year>
            <year>
              <label><h1>2019</h1></label>
              <pubs>
        <pub id="2019 Art, Affect, Color">
          <div class=pubimg>
            <img  class=pubimg src="../publications/2019/Art, Affect, Color/image.png" alt="Art, Affect, Color"/>
          </div>
          <div class="pubtxt">
            <p>
<span class=pub_title>Art, Affect, Color</span>. No citation.
            </p>
          </div>
        </pub>
              </pubs>
            </year>
            <year>
              <label><h1>2021</h1></label>
              <pubs>
        <pub id="2021 Affective Palettes">
          <div class=pubimg>
            <img  class=pubimg src="../publications/2021/Affective Palettes/image.png" alt="Affective Palettes"/>
          </div>
          <div class="pubtxt">
            <p>
<span class=authors>Francesca Samsel, Stephanie Zeller, Daniel F. Keefe, and Greg Abram</span>
(2021).
<span class=title>
Affective Palettes For Scientific Visualization: Grounding Environmental Data In The Natural World
</span>
<span class=source>
,not yet available, IEEE VisApp
</span>
            </p>
          </div>
        </pub>
        <pub id="2021 Antarctic_Water_Masses">
          <div class=pubimg>
            <img  class=pubimg src="../publications/2021/Antarctic_Water_Masses/image.png" alt="Antarctic_Water_Masses"/>
          </div>
          <div class="pubtxt">
            <p>
<span class=authors>Abram, Greg and Samsel, Francesca and Petersen, Mark R. and Asay-Davis, Xylar and Comeau, Darin and Price, Stephen F. and Potel, Mike</span>
(2021).
<span class=title>
<a href="https://ieeexplore.ieee.org/document/9325139/" target="_blank">Antarctic Water Masses and Ice Shelves: Visualizing the Physics</a>
</span>
<span class=source>
,IEEE Computer Graphics and Applications
, vol. 41
, no. 1
, (35–41)
</span>
            </p>
          </div>
        </pub>
        <pub id="2021 Multi-Touch">
          <div class=pubimg>
            <img  class=pubimg src="../publications/2021/Multi-Touch/image.png" alt="Multi-Touch"/>
          </div>
          <div class="pubtxt">
            <p>
<span class=authors>Herman, Bridger and Omdal, Maxwell and Zeller, Stephanie and Richter, Clara A. and Samsel, Francesca and Abram, Greg and Keefe, Daniel F.</span>
(2021).
<span class=title>
<a href="https://doi.org/10.1145/3488542" target="_blank">Multi-Touch Querying on Data Physicalizations in Immersive AR</a>
</span>
<span class=source>
,Proc. ACM Hum.-Comput. Interact.
, vol. 5
, no. ISS
</span>
            </p>
          </div>
        </pub>
              </pubs>
            </year>
    </publication-body>
    {% include "njk/footer.html" %}
    <script src="" async defer></script>
  </body>
</html>
