<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Publications | Sculpting Visualizations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/code.js"></script>
  </head>
  <body>
    {% include "njk/header.html" %}
    <div class=publication-page-body>
            <year>
              <div class="pub-year"><label><h2>2021</h2></label></div>
              <pubs>
{% include "../publications/2021/Affective Palettes/pub.html" %}
{% include "../publications/2021/Antarctic_Water_Masses/pub.html" %}
{% include "../publications/2021/BioGeo/pub.html" %}
{% include "../publications/2021/EnablingCross/pub.html" %}
{% include "../publications/2021/FromHumanHands/pub.html" %}
{% include "../publications/2021/Multi-Touch/pub.html" %}
              </pubs>
            </year>
            <year>
              <div class="pub-year"><label><h2>2020</h2></label></div>
              <pubs>
{% include "../publications/2020/AutoGenLegend/pub.html" %}
{% include "../publications/2020/EnviroVis/pub.html" %}
{% include "../publications/2020/HumanFingerprints/pub.html" %}
{% include "../publications/2020/PrintmakingPuzzles/pub.html" %}
{% include "../publications/2020/SethDiss/pub.html" %}
{% include "../publications/2020/VisIceSheets/pub.html" %}
              </pubs>
            </year>
            <year>
              <div class="pub-year"><label><h2>2019</h2></label></div>
              <pubs>
{% include "../publications/2019/ABR/pub.html" %}
{% include "../publications/2019/Art, Affect, Color/pub.html" %}
{% include "../publications/2019/ContinuousColor/pub.html" %}
{% include "../publications/2019/EnrichVocab/pub.html" %}
{% include "../publications/2019/HumanitiesInLoop/pub.html" %}
              </pubs>
            </year>
            <year>
              <div class="pub-year"><label><h2>2018</h2></label></div>
              <pubs>
{% include "../publications/2018/ColorMoves/pub.html" %}
              </pubs>
            </year>
            <year>
              <div class="pub-year"><label><h2>2017</h2></label></div>
              <pubs>
{% include "../publications/2017/TrajMapper/pub.html" %}
              </pubs>
            </year>
            <year>
              <div class="pub-year"><label><h2>2015</h2></label></div>
              <pubs>
{% include "../publications/2015/Vis-By-Sketching/pub.html" %}
              </pubs>
            </year>
    </div>
    {% include "njk/footer.html" %}
    <script src="" async defer></script>
  </body>
</html>
