<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thrusts | Sculpting Visualizations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/code.js"></script>
    </head>
  <body>

    <navigation-bar>
      {% include "njk/header.html" %}
    </navigation-bar>

    <thrust-page>

      <thrust-sidebar>
        <div>
          <h1>Related Projects</h1>
          <h2>SciVisColor</h2>
          <ul>
              <li><a href="#overview">SciVisColor</a></li>
              <li><a href="#colormoves">Colormoves</a></li>
              <li><a href="#pubs">Publications</a></li>
          </ul>
        </div>
      </thrust-sidebar>

      <thrust-content>
        <div id="overview">
          <h2>SciVisColor</h2>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/related-projects/scivis1.png">
              </div>
          </div>
          <p class="big-paragraph">SciVisColor is the brainchild of Francesca Samsel, professional
            artist-turned-visualization specialist. SciVisColor is a one-stop-shop for hundreds of
            custom linear, divergent, convergent, “wave,” and discrete colormaps, color sets, color
            guidance, examples of artist-driven color usage in a wide variety of scientific
            visualizations, and Colormoves—a user-friendly colormap creation and low-stakes
            data exploration tool.</p>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/related-projects/scivis2.png">
              </div>
          </div>
          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/related-projects/scivis4.png">
              </div>
          </div>
        </div>
        <div id="colormoves">
          <h2>Colormoves</h2>

          <iframe title="vimeo-player" src="https://player.vimeo.com/video/153136713?h=4d4feb8f65" width="640" height="360" frameborder="0" allowfullscreen></iframe>

          <p>ColorMoves is an intuitive user interface that allows a user to build complex
            and data-driven colormaps via a drag-and-drop approach starting with a suite of
            predefined colormaps. The resultant colormap can be exported for use in other visualization applications.</p>
          <p>The drag-and-drop approach and the ability to interactively adjust the colormap segments not only allows
            for easy and intuitive colormap creation, but also helps scientists explore their data without opening large
            and cumbersome visualization programs to do so. The web-based format only requires images, not data files,
            which increases speed of experimentation. </p>
            <p>Try Colormoves here in any browser. Instructions for new users can be found here.</p>

          <div class="single-image">
              <div class="first-image">
                  <img src="../images/thrusts/related-projects/scivis3.png">
              </div>
          </div>
        </div>
        <div class=project-publications id=pubs>
          <h3>Publications</h3>
          <pubs>
          </pubs>
        </div>
      </thrust-content>

      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>
    <script src="" async defer></script>
  </body>
</html>
