<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thrusts | Sculpting Visualizations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/code.js"></script>
  </head>
  <body>

    <navigation-bar>
      {% include "njk/header.html" %}
    </navigation-bar>

    <thrust-page>

      <thrust-sidebar>
        <div>
          <h1>Related Projects</h1>
          <h2>Vis-By-Sketching</h2>
          <ul>
            <li><a href="#overview">Vis-By-Sketching</a></li>
            <li><a href="#pubs">Publications</a></li>
          </ul>
        </div>
      </thrust-sidebar>

      <thrust-content>
        <div id="overview">
          <h2>Vis-By-Sketching</h2>
          <p class="big-paragraph">Visualization-by-Sketching is a direct-manipulation user interface for
            designing new data visualizations created in 2016. The goals were twofold: First, make the
            process of creating real, animated, data-driven visualizations of complex information more
            accessible to artists, graphic designers, and other visual experts with traditional,
            non-technical training. Second, support and enhance the role of human creativity in
            visualization design, enabling visual experimentation and workflows similar to what is
            possible with traditional artistic media. The approach was to conceive of visualization
            design as a combination of processes that are already closely linked with visual creativity:
            sketching, digital painting, image editing, and reacting to exemplars. Rather than
            studying and tweaking low-level algorithms and their parameters, designers create
            new visualizations by painting directly on top of a digital data canvas, sketching
            data glyphs, and arranging and blending together multiple layers of animated 2D graphics. </p>
          <div class="single-image">
              <div class="first-image">
                  <img src="images/thrusts/related-projects/VBS-1.png">
              </div>
          </div>
          <p class="big-paragraph">This required new algorithms and techniques to interpret painterly
            user input relative to data “under” the canvas, balance artistic freedom with the need to
            produce accurate data visualizations, and interactively explore large (e.g., terabyte-sized)
            multivariate datasets. Results demonstrated that a variety of multivariate data visualization
            techniques can be rapidly recreated using the interface. More importantly, results and feedback
            from artists support the potential for interfaces in this style to attract new, creative users
            to the challenging task of designing more effective data visualizations and to help these users
            stay “in the creative zone” as they work. </p>
          <div class="single-image">
              <div class="first-image">
                  <img src="images/thrusts/related-projects/VBS-4.png">
              </div>
          </div>
        </div>
        <div class=project-publications id=pubs>
          <h2>Publications</h2>
          <pubs>
            {% include "html/publications/2015/Vis-By-Sketching/pub.html" %}
          </pubs>
        </div>
      </thrust-content>


      <thrust-footer>
        {% include "njk/footer.html" %}
      </thrust-footer>

    </thrust-page>

    <script src="" async defer></script>
  </body>
</html>
