<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Publications | Sculpting Visualizations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    {% include "njk/header.html" %}
    <section>
            <div class="section-title"><h1>2013</h1></div>
              <div class="section-wrapper" id="2013 Meet the Scientists"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2013/Meet the Scientists/image.png" alt="Meet the Scientists"/>
                      <div class="desc">
                        <h3>Meet the Scientists</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="section-title"><h1>2016</h1></div>
              <div class="section-wrapper" id="2016 Discovery Jam"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2016/Discovery Jam/image.png" alt="Discovery Jam"/>
                      <div class="desc">
                        <h3>Discovery Jam</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="section-title"><h1>2017</h1></div>
              <div class="section-wrapper" id="2017 Trajectory Mapper"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2017/Trajectory Mapper/image.png" alt="Trajectory Mapper"/>
                      <div class="desc">
                        <h3>Trajectory Mapper</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="section-title"><h1>2019</h1></div>
              <div class="section-wrapper" id="2019 ABR"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/ABR/image.png" alt="ABR"/>
                      <div class="desc">
                        <h3>ABR</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2019 AR_VR in SciVis"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/AR_VR in SciVis/image.png" alt="AR_VR in SciVis"/>
                      <div class="desc">
                        <h3>AR_VR in SciVis</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2019 Color Tools _ Strategies"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/Color Tools _ Strategies/image.png" alt="Color Tools _ Strategies"/>
                      <div class="desc">
                        <h3>Color Tools _ Strategies</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2019 Making Continuous Colormaps"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/Making Continuous Colormaps/image.png" alt="Making Continuous Colormaps"/>
                      <div class="desc">
                        <h3>Making Continuous Colormaps</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2019 SciVis Enriching Vocab via Human Hand"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/SciVis Enriching Vocab via Human Hand/image.png" alt="SciVis Enriching Vocab via Human Hand"/>
                      <div class="desc">
                        <h3>SciVis Enriching Vocab via Human Hand</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2019 Sculpting Vis_expanding vocab"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2019/Sculpting Vis_expanding vocab/image.png" alt="Sculpting Vis_expanding vocab"/>
                      <div class="desc">
                        <h3>Sculpting Vis_expanding vocab</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="section-title"><h1>2020</h1></div>
              <div class="section-wrapper" id="2020 Activating Color"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Activating Color/image.png" alt="Activating Color"/>
                      <div class="desc">
                        <h3>Activating Color</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Automatic Legends"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Automatic Legends/image.png" alt="Automatic Legends"/>
                      <div class="desc">
                        <h3>Automatic Legends</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Colormapping Strategies for the Geosciences"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Colormapping Strategies for the Geosciences/image.png" alt="Colormapping Strategies for the Geosciences"/>
                      <div class="desc">
                        <h3>Colormapping Strategies for the Geosciences</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Environmental Vis"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Environmental Vis/image.png" alt="Environmental Vis"/>
                      <div class="desc">
                        <h3>Environmental Vis</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Human Fingerprints"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Human Fingerprints/image.png" alt="Human Fingerprints"/>
                      <div class="desc">
                        <h3>Human Fingerprints</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Optimizing Colors Potential"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Optimizing Colors Potential/image.png" alt="Optimizing Colors Potential"/>
                      <div class="desc">
                        <h3>Optimizing Colors Potential</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Printmaking _ Puzzles"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Printmaking _ Puzzles/image.png" alt="Printmaking _ Puzzles"/>
                      <div class="desc">
                        <h3>Printmaking _ Puzzles</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 SciVis of Antarctic Ice"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/SciVis of Antarctic Ice/image.png" alt="SciVis of Antarctic Ice"/>
                      <div class="desc">
                        <h3>SciVis of Antarctic Ice</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Seth_s Dissertation"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Seth_s Dissertation/image.png" alt="Seth_s Dissertation"/>
                      <div class="desc">
                        <h3>Seth_s Dissertation</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Shared Public Space"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Shared Public Space/image.png" alt="Shared Public Space"/>
                      <div class="desc">
                        <h3>Shared Public Space</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2020 Theory _ App of Tools to Optimize Color"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2020/Theory _ App of Tools to Optimize Color/image.png" alt="Theory _ App of Tools to Optimize Color"/>
                      <div class="desc">
                        <h3>Theory _ App of Tools to Optimize Color</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="section-title"><h1>2021</h1></div>
              <div class="section-wrapper" id="2021 Antarctic_Water_Masses"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2021/Antarctic_Water_Masses/image.png" alt="Antarctic_Water_Masses"/>
                      <div class="desc">
                        <h3><a href="../publications/2021/Antarctic_Water_Masses/article.pdf" target="_blank">Antarctic_Water_Masses</a></h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2021 Crosscutting Vis"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2021/Crosscutting Vis/image.png" alt="Crosscutting Vis"/>
                      <div class="desc">
                        <h3>Crosscutting Vis</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="section-wrapper" id="2021 From Human Hands"
                <div class="subsection">
                  <div class="publication-wrapper">
                    <div class="publication">
                      <img src="../publications/2021/From Human Hands/image.png" alt="From Human Hands"/>
                      <div class="desc">
                        <h3>From Human Hands</h3>
                        <p>(no authors)<\p>
                        <i>(no venue)<\i>
                        <ul>
                          <li>No Citation</a></li>
                          <li>No DOI</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
    </section>
    {% include "njk/footer.html" %}
    <script src="" async defer></script>
  </body>
</html>
